<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="AWSSDK" version="2.3.34.0" targetFramework="net461" />
  <package id="ConfigInjector" version="2.0.390.0" targetFramework="net461" />
  <package id="FluentScheduler" version="3.1.46" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.5.4" targetFramework="net461" />
  <package id="Rebus" version="0.99.40" targetFramework="net461" />
  <package id="Rebus.AmazonSqs" version="0.99.40" targetFramework="net461" />
  <package id="Rebus.Serilog" version="0.99.40" targetFramework="net461" />
  <package id="Rebus.UnitOfWork" version="0.99.40" targetFramework="net461" />
  <package id="Serilog" version="2.0.0-beta-479" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="2.0.0-beta-465" targetFramework="net461" />
  <package id="Serilog.Sinks.Literate" version="2.0.0-beta-21" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.0-beta-465" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="2.0.0-beta-465" targetFramework="net461" />
  <package id="Serilog.Sinks.Seq" version="2.0.0-beta-31" targetFramework="net461" />
</packages>